Comma Separated Values files

The two primary data structures of pandas, Series (1-dimensional) and DataFrame (2-dimensional)

In [3]:
# with open("./day25/weather_data.csv") as file:
#     data = file.readlines()

# print(data)

import pandas as pd

data = pd.read_csv("./weather_data.csv")
data

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

printing a column

In [ ]:
data["temp"]

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

In [ ]:
data.temp

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

Get data in row

In [11]:
data[data.day == "Monday"]

      day  temp condition
0  Monday    12     Sunny

In [14]:
maximo = data.temp.max()
data[data.temp == maximo ]

      day  temp condition
6  Sunday    24     Sunny

Example using Squirrel Dataframe, counting the squirrels by it's color

In [49]:
squirrel_data = pd.read_csv("./2018_Central_Park_Squirrel_Census_-_Squirrel_Data.csv")

color_serie = squirrel_data["Primary Fur Color"]

gray = squirrel_data[squirrel_data["Primary Fur Color"] == "Gray"]
red = squirrel_data[squirrel_data["Primary Fur Color"] == "Cinnamon"]
black = squirrel_data[squirrel_data["Primary Fur Color"] == "Black"]


n_gray = len(gray)
n_red = len(red)
n_black = len(black)

print(n_gray, n_red, n_black)

2473 392 103

exporting the data from a dictionaty into a CSV file

In [51]:
squirrel_dict = {
    "Fur color": [gray, red, black],
    "Count": [2473, 392, 103]
}

new_data = pd.DataFrame(squirrel_dict)
new_data.to_csv("new_data.csv")